body {
  background-color: #aaa
}

.App {
  text-align: center;
  background-color: #aaa
}

.header .links a {
  margin: 2.5px;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 10%;
  transition: 0.4s ease;
}
.header .links a:hover {
  text-decoration: underline;
}
.header .links a:active {
  background-color: powderblue;
  transition: 0s;
}

.headerLink {
  border-top: 2px solid green;
}

.errors {
  color: darkred;
}

.displayNone {
  display: none;
}

.btn {
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.liveBtn:active {
  background: lightgrey;
}

.disabledBtn {
  opacity: .5;
  cursor: auto;
}